<div class="userHomeContainer overlay">

  <div class="userHomeTitle">
    <h1>Track your Trades</h1>
    <h2>Never forget an entry/exit!</h2>
  </div>

  <div class="tickerSearchBar">
    <form id="tickerSearchBar" action="/userHome/query" method="GET">
      <label for="stockTicker">Quick Quote</label><br>
      <input id="Ticker" type="text" value="" name="stockTicker" placeholder="Enter Ticker">
    </form>
  </div>

  {{query}}

  {{#if financeData}}
    <div class="hideMe"> {{theData}} </div>
    <div class="hideDates"> {{theDates}} </div>
    <div class="hideLabel"> {{theLabel}} </div>
    
    {{!-- <div class="chart-container"> --}}
      <canvas id="myChart" class="chart"></canvas>
    {{!-- </div> --}}
  {{/if}}

  <div class="watchlist">
    <button class="btn btn-primary bg-secondary recordTrade" data-toggle="modal" data-target="#exampleModal3">
      {{!-- <a href="/stock?stockTicker={{stockTicker}}">Record New Trade</a> --}}
      Record New Trade
    </button></br>
 
    <ul class="list-group list-group-flush">
      {{#each myStocks}}
        <li class="list-group-item watchlistSpacer">

          <div class="tradeInfo">
            <h5>{{tradeType}}</h5>
            <span class="identification">{{_id}}</span>
            <span class="shares">{{shares}}</span> shares of 
            <span class="ticker">{{ticker}}</span> @ 
            $<span class="price">{{price}}</span> 
          </div>
  
          <div class="editBtn">
            {{!-- <form class="btninline" action="/editTrade?tradeType={{tradeType}}&shares={{shares}}&ticker={{ticker}}&price={{price}}" method="GET"><button class="btn btn-primary bg-warning" data-toggle="modal" data-target="#exampleModal4">Edit</button></form> --}}
            {{!-- <a href="/editTrade?_id={{_id}}&tradeType={{tradeType}}&shares={{shares}}&ticker={{ticker}}&price={{price}}"> --}}
            <button class="btn btn-primary bg-warning"  data-toggle="modal" data-target="#exampleModal4" >Edit</button>
            {{!-- </a> --}}
            <form class="btninline" action="/stock/delete/{{_id}}" method="POST">
            <a href="/userHome"><button class="btn btn-primary bg-danger">Delete</button></a>
            </form>
          </div>
          
        </li>
      {{/each}}
    </ul>
  </div>



</div>

{{!-- =========================================================================================
= = = = = = = = = = = = = = = = = = Record Trade Modal = = = = = = = = = = = = = = = = = = = = 
=========================================================================================== --}}

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Record Your Trade</h5>
        </div>

        <div class="modal-body addTrade">
          <form class="modal3" action="/stock" method="post">

            <div class="form-group">
                <input type="radio" id="buy" class="form-contorl"
                name="tradeType" value="Bought">
                <label for="Buy">Buy</label>
                <input type="radio" id="sell" class="form-contorl"
                name="tradeType" value="Sold">
                <label for="Sold">Sell</label>
            </div>

            <div class="form-group">
              <label for="ticker">Ticker</label>
              <input class="form-control" type="text" value= "{{stockTicker}}" name="ticker" placeholder="Enter Stock Ticker"> 
            </div>

            <div class="form-group">
              <label for="price">Price</label>
              <input class="form-control" type="number" placeholder="Enter Current Price" name="price">
            </div>

            <div class="form-group">
              <label for="shares">Shares</label>
              <input class="form-control" type="number" placeholder="Enter Quantity" name="shares"> 
            </div>

            <button class="btn bg-warning border border-secondary" type="submit">Add Trade</button>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary addTradeBtn" data-dismiss="modal">Close</button>
          {{!-- <button type="button" class="btn btn-primary bg-warning border border-secondary">Save changes</button> --}}
        </div>

      </div>
    </div>
  </div>

  {{!-- =======================================================================================
= = = = = = = = = = = = = = = = = = End Record Trade Modal = = = = = = = = = = =  = = = = = = = 
========================================================================================= --}}



{{!-- =========================================================================================
= = = = = = = = = = = = = = = = = = Edit Trade Modal = = = = = = = = = = = = = = = = = = = = 
=========================================================================================== --}}

<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Your Trade</h5>
        </div>

        <div class="modal-body">
          <form class="modal3" action= "/editTrade" method="POST">

            <div class="form-group">
                <input type="radio" id="buy" class="form-contorl"
                name="tradeType" value="Bought">
                <label for="Buy">Buy</label>
                <input type="radio" id="sell" class="form-contorl"
                name="tradeType" value="Sold">
                <label for="Sold">Sell</label>
            </div>

           <div class="form-group">
              <input class="form-control" type="text" id="identification" name="identification"> 
            </div>

            <div class="form-group">
              <label for="ticker">Ticker</label>
              <input class="form-control" type="text" id="ticker" name="ticker"> 
            </div>

            <div class="form-group">
              <label for="price">Price</label>
              <input class="form-control" type="number" id="price"  placeholder="Enter Current Price" name="price">
            </div>

            <div class="form-group">
              <label for="shares">Shares</label>
              <input class="form-control" type="number" id="shares" placeholder="Enter Quantity" name="shares"> 
            </div>

            <button class="btn bg-warning border border-secondary" type="submit">Edit Trade</button>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary addTradeBtn" data-dismiss="modal">Close</button>
          {{!-- <button type="button" class="btn btn-primary bg-warning border border-secondary">Save changes</button> --}}
        </div>

      </div>
    </div>
  </div>

{{!-- =========================================================================================
= = = = = = = = = = = = = = = = = = End Edit Trade Modal = = = = = = = = = = = = = = = = = = = = 
=========================================================================================== --}}

<script src="/javascripts/chart.js"></script>  
<script src="/javascripts/editBtn.js"></script>  